<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="newrecord">
    <div class="row">
        <form class="form-horizontal" action="#" th:action="@{/add}" th:object="${form}" method="POST">
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label>Nazwa</label>
                    <input type="text" class="form-control" th:field="*{title}"
                           placeholder="Rachunek za..."/>
                </div>
                <div class="form-group">
                    <label>Wybierz status rachunku:</label>
                    <select class="form-control" th:field="*{status}">
                        <option th:each="s : ${statusList}" th:value="${s.name}" th:text="${s.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Kategoria rachunku:</label>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="c : ${categoryList}" th:value="${c.name}" th:text="${c.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">Kwota (w zł)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" th:field="*{price}" placeholder="Kwota"/>
                        <div class="input-group-addon">zł</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Opis dodatkowy</label>
                    <textarea class="form-control" th:field="*{comment}" rows="5"/>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label>Dane dodatkowe</label>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-success btn-block">Dodaj rekord</button>
            </div>
        </form>
    </div>
</div>

<div th:fragment="editrecord">
    <div class="row">
        <form class="form-horizontal" action="#" th:action="@{/apply(id=${form.id})}"
              th:object="${form}" method="POST">
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <label>Nazwa</label>
                    <input type="text" class="form-control" th:field="*{title}" th:value="*{title}"
                           placeholder="Rachunek za..."/>
                </div>
                <div class="form-group">

                    <label>Wybierz status rachunku:</label>
                    <select class="form-control" th:field="*{status}">
                        <option th:each="s : ${statusList}" th:value="${s.name}" th:text="${s.name}"
                                th:selected="${form.status.name == s.name}? 'selected'">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Kategoria rachunku:</label>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="c : ${categoryList}" th:value="${c.name}" th:text="${c.name}"
                                th:selected="${form.category.name == c.name}? 'selected'">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">Kwota (w zł)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" th:name="price"
                               th:value="${#numbers.formatDecimal(form.price, 0, 'WHITESPACE', 2, 'COMMA')}"
                               placeholder="Kwota"/>
                        <div class="input-group-addon">zł</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Opis dodatkowy</label>
                    <textarea class="form-control" th:field="*{comment}" th:value="*{comment}" rows="5"/>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label>Dane dodatkowe</label>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-success btn-block">Zapisz zmiany</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>