<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="content">
    <h1 class="page-header">Witaj użytkowniku.
    </h1>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">

        </div>
    </div>
    <h2 class="sub-header">Aplikacja do zarządzania domowymi rachunkami.</h2>
    <p>To tylko aplikacja demo. Uruchamiana raz dziennie, powoduje wykasowanie bazy.</p>
    <p>Domyślny użytkownik ma e-mail : <strong>demo@gmail.com</strong> i hasło : <strong>demo</strong></p>
</div>
</body>
</html>