<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
</head>
<body>

<div th:fragment="table">
    <h2 class="sub-header">Lista rekordów</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Nazwa</th>
                <th>Status</th>
                <th>Kwota</th>
                <th>Komentarz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bill : ${billList}">

                <td>

                    <!-- Delete button -->
                    <a th:href="@{/remove(id=${bill.id})}" class="btn btn-danger btn-sm" role="button"
                       data-toggle="tooltip" data-placement="top" title="Usun rekord">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <!-- Modify button -->
                    <a th:href="@{/modify(id=${bill.id})}" class="btn btn-success btn-sm" role="button"
                       data-toggle="tooltip" data-placement="top" title="Modyfikuj rekord">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>

                </td>
                <td th:text="${bill.date}"></td>
                <td th:text="${bill.title}"></td>
                <td th:text="${bill.status.name}"></td>
                <td th:text="${bill.price}"></td>
                <td th:text="${bill.comment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>