<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>

    <title>Rachunki</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{css/dashboard.css}" rel="stylesheet"/>
</head>

<body>
<div class="loader"></div>
<nav th:replace="fragments/navigation :: top"></nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            <div class="alert alert-success" role="alert" th:if="${message != null}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p th:text="${message}"></p>
                <a th:href="@{/login}">Zaloguj się.</a>
            </div>
            <div>
                <form th:action="@{/register}" th:object="${form}" role="form" method="post">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}">
                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" th:required="true"
                               th:autofocus="true" placeholder="demo@gmail.com"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email już istnieje</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               th:required="true" placeholder="demo"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Złe hasło</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeated">Powtórz hasło</label>
                        <input type="password" class="form-control" id="passwordRepeated" th:field="*{passwordRepeated}"
                               th:required="true" placeholder="demo"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordRepeated')}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">Złe
                                hasło</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="safeCode">Kod zabezpieczający</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="code" th:text="${safeCode}">1234</span>
                            <input type="text" class="form-control" id="safeCode" th:field="*{safeCode}"
                                   th:required="true"
                                   placeholder="" aria-describedby="code"/>
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('safeCode')}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p th:if="${#fields.hasErrors('safeCode')}" th:errors="*{safeCode}">Wpisz poprawny kod</p>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Zarejestruj nowe konto</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    })
</script>
</body>

</html>