<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://github.com/dandelion/datatables">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>

    <title>Rachunki</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{css/dashboard.css}" rel="stylesheet"/>
</head>

<body>
<div class="loader"></div>
<nav th:replace="fragments/navigation :: top"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <div th:replace="fragments/menu :: left (${activeMenu})"></div>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row">
                <h1 class="page-header">Lista usunietych rachunków</h1>

                <div class="table-responsive">

                    <table id="dataTableId" dt:table="true" dt:sortable="true" dt:filterable="true">
                        <thead>
                        <tr>
                            <th dt:sortable="false" width="10%"></th>
                            <th width="10%">Status</th>
                            <th width="15%">Tytuł</th>
                            <th dt:sortInitDirection="desc" width="10%">Kwota</th>
                            <th width="10%">Data</th>
                            <th width="15%">Wierzyciel</th>
                            <th width="30%">Komentarz</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bill : ${billsList}">
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{/delete(id=${bill.id})}" role="button" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a th:href="@{/undo(id=${bill.id})}" role="button" class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-block btn-sm"
                                        th:class="${bill.status.statusColour == null}?
                                        'btn btn-default btn-block btn-sm' :
                                        'btn btn-block btn-sm btn-' + ${bill.status.statusColour}"
                                        th:text="${bill.status.name}"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default-noborder btn-block btn-sm"
                                        th:text="${bill.title}"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default-noborder btn-block btn-sm"
                                        th:text="${bill.price}"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default-noborder btn-block btn-sm"
                                        th:text="10.01.2017"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default-noborder btn-block btn-sm"
                                        th:text="MM"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default-noborder btn-block btn-sm"
                                        th:text="${bill.comment == ''}? '-' : ${bill.comment}"></button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    })
</script>
</body>

</html>